.header {
    display: flexbox;
    flex-direction: row;

}

ul {
    /* 불릿 제거 */
    list-style: none;
    /* 왼쪽 들여쓰기 제거 */
    padding-left: 0px;
    display: inline;
    
}

img {
    display: inline;
    width: 100px;
    height: 100px;
}

#burger {
    width: 100px;
    height: 100px;
}

#twitter {
    width: 20px;
    height: 20px;
}

#facebook {
    width: 30px;
    height: 30px;
}