.container {
    background: beige;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* flex-flow: column nowrap; */
    justify-content: flex-start; /*no main axis */
    align-items: center;
}

.item {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.item1 {
    background: #ef9a9a;
}
.item2 {
    background: #f48fb1;
}
.item3 {
    background: #ce93d8;
}
.item4 {
    background: #b39ddb;
}
.item5 {
    background: #90caf9;
}
.item6 {
    background: #a5d6a7;
}
.item7 {
    background: #e6ee9e;
}
.item8 {
    background: #b0bd3e;
}
.item9 {
    background: #29cf37;
}
.item10 {
    background: #fdab4d;
}

